*/pkg
*/src
*/*.tar.gz
*/*.deb
application-cleaner/arkane-application-cleaner
gnome-shell-extension-advanced-tab-bar/advanced-alttab-window-switcher
gnome-shell-extension-dash-to-dock/dash-to-dock
gnome-shell-extension-just-perfection-desktop/gnome-shell-extension-just-perfection-desktop
gnome-shell-extension-rounded-corners/gnome-rounded-corners
gnome-shell-extension-rounded-window-corners/rounded-window-corners
gnome-shell-extension-useless-gaps/gnome-shell-extension-useless-gaps
gnome-shell-extension-wiggle/wiggle
lsb-release/lsb-samples
sunny-calamares-config/sunnyos-calamares-config
sunny-keyring/sunny-keyring
sunnyos_grunty/sunnyos_grunty
python-tokenizers/cargo-home
python-tokenizers/*.txt
python-tokenizers/*.json
os-installer-config/os-installer-config
.packages
